In [177]:
import pandas as pd

In [178]:
cities = pd.read_csv('data/uscities.csv')  
mpv_db_pk = pd.read_csv('data/mpv_db_pk.csv')

In [179]:
droplist = ['city_ascii','county_fips','county_name','population','density','source','military','incorporated','timezone',
           'ranking','zips','id']
cities.drop(droplist,axis=1,inplace=True)

In [180]:
zips = pd.read_csv('data/us-zip-code-latitude-and-longitude.csv',sep=";")

In [181]:
zips['Zip'] = zips['Zip'].fillna(0).astype(int)

In [182]:
droplist = ['Timezone','Daylight savings time flag','geopoint']
zips.drop(droplist,axis=1,inplace=True)

In [183]:
mpv_db_pk['Zipcode'] = mpv_db_pk['Zipcode'].fillna(0).astype(int)

In [184]:
#First Merge
test1 = mpv_db_pk.merge(zips,how="left", left_on=['Zipcode'], right_on=['Zip'])

In [185]:
test1.shape

(9147, 40)

In [186]:
#First Merge dropping NAs
test_latlong = test1.dropna(subset=['Latitude'])

In [187]:
test_latlong.shape

(9012, 40)

In [188]:
#Slice from Test 1 where Latitude is null
test2 = test1[test1['Latitude'].isna()]

In [189]:
test2.shape

(135, 40)

In [190]:
#Second Merge-- Remaining NA's merged with cities dataframe
test_merge = test2.merge(cities,how="left", left_on=['City_x','State_x'], right_on=['city','state_id'])

In [191]:
test_merge.shape

(135, 45)

In [192]:
test_merge[test_merge['lat'].isna()]

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Zip,City_y,State_y,Latitude,Longitude,city,state_id,state_name,lat,lng
6,Latoya Denis James,37,Female,Unknown Race,NaN,2021-05-04,NaN,Camden County,GA,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Gary Brown,43,Male,White,NaN,2021-03-12,NaN,Harrison Township,OH,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Fred Bowman Trundle,54,Male,Unknown Race,NaN,2021-02-28,Alabama Highway,NaN,GA,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Ethan Freeman,37,Male,Unknown Race,NaN,2020-10-19,66 Four Wheel Drive,Thornton,NH,3285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Jericho Wynos,Unknown,Male,Native American,NaN,2020-10-14,NaN,Cookson,OK,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Jon Jay Lewis,Unknown,Male,White,NaN,2018-05-25,NaN,NaN,ID,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Jake Childers,36,Male,White,NaN,2016-12-27,NaN,NaN,TX,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,William Ray Score Jr.,47,Male,White,http://ak-cache.legacy.net/legacy/images/cobra...,2016-11-11,NaN,NaN,CO,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Marty Maiden II,20,Male,Black,http://d1t3gia0in9tdj.cloudfront.net/photo/tri...,2013-11-20,7500 South Woodbury Grove Dr,Tuscon,AZ,85757,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Shawn Evans,56,Male,White,NaN,2013-09-08,4501 Torley St,Pittsburg,PA,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Julie Serna Gonzales,42,Female,Hispanic,http://extras.mnginteractive.com/live/media/si...,2013-04-19,59 Alderwood Drive,Stafford,VA,22556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
test_merge = test_merge.dropna(subset=['lat'])

In [194]:
test_merge.head(2)

#test_merge = test_merge.drop(columns=['Latitude', 'Longitude','city','state_id','state_name'])

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Zip,City_y,State_y,Latitude,Longitude,city,state_id,state_name,lat,lng
0,Kalon Horton,29,Male,Black,NaN,2021-05-09,NaN,Lancaster,TX,0,...,NaN,NaN,NaN,NaN,NaN,Lancaster,TX,Texas,32.5922,-96.7737
1,Jeffrey Mark Murray,62,Male,Unknown Race,NaN,2021-05-09,NaN,Greenville,SC,0,...,NaN,NaN,NaN,NaN,NaN,Greenville,SC,South Carolina,34.8353,-82.3647

In [195]:
droplist = ['city', 'state_id', 'state_name', 'Latitude', 'Longitude']
test_merge.drop(droplist,axis=1,inplace=True)

In [196]:
test_merge = test_merge.rename(columns={"lat": "Latitude", "lng": "Longitude"})

In [197]:
test_merge.columns

Index(['victim_name', 'victim_age', 'victim_gender', 'victim_race',
       'URL of image of victim', 'Date of Incident (month/day/year)',
       'Street Address of Incident', 'City_x', 'State_x', 'Zipcode', 'County',
       'Agency responsible for death', 'ORI Agency Identifier (if available)',
       'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Armed/Unarmed Status',
       'Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database)',
       'Alleged Threat Level (Source: WaPo)', 'Fleeing (Source: WaPo)',
       'Body Camera (Source: WaPo)', 'WaPo ID (If included in WaPo database)',
       'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'MPV ID', 'Fatal Encounters ID', 'Encounter Type (DRAFT)',
       'Initial Reported Reason for Encounter (DRAFT)',
       'Names of Officers Involved (DRAFT)',
       'Race of Officers Involved (DRAFT)',
       'Known Past Shootings of Officer(s) (DRAFT)',
       'Call for Service? (DRAFT)', 'Zip', 'City_y', 'State_y', 'Latitude',
       'Longitude'],
      dtype='object')

In [198]:
test_latlong.columns

Index(['victim_name', 'victim_age', 'victim_gender', 'victim_race',
       'URL of image of victim', 'Date of Incident (month/day/year)',
       'Street Address of Incident', 'City_x', 'State_x', 'Zipcode', 'County',
       'Agency responsible for death', 'ORI Agency Identifier (if available)',
       'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Armed/Unarmed Status',
       'Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database)',
       'Alleged Threat Level (Source: WaPo)', 'Fleeing (Source: WaPo)',
       'Body Camera (Source: WaPo)', 'WaPo ID (If included in WaPo database)',
       'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'MPV ID', 'Fatal Encounters ID', 'Encounter Type (DRAFT)',
       'Initial Reported Reason for Encounter (DRAFT)',
       'Names of Officers Involved (DRAFT)',
       'Race of Officers Involved (DRAFT)',
       'Known Past Shootings of Officer(s) (DRAFT)',
       'Call for Service? (DRAFT)', 'Zip', 'City_y', 'State_y', 'Latitude',
       'Longitude'],
      dtype='object')

In [199]:
frames = [test_merge, test_latlong]

result = pd.concat(frames)

In [200]:
result[result['Latitude'].isna()]

Empty DataFrame
Columns: [victim_name, victim_age, victim_gender, victim_race, URL of image of victim, Date of Incident (month/day/year), Street Address of Incident, City_x, State_x, Zipcode, County, Agency responsible for death, ORI Agency Identifier (if available), Cause of death, A brief description of the circumstances surrounding the death, Official disposition of death (justified or other), Criminal Charges?, Link to news article or photo of official document, Symptoms of mental illness?, Armed/Unarmed Status, Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database), Alleged Threat Level (Source: WaPo), Fleeing (Source: WaPo), Body Camera (Source: WaPo), WaPo ID (If included in WaPo database), Off-Duty Killing?, Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx ), MPV ID, Fatal Encounters ID, Encounter Type (DRAFT), Initial Reported Reason for Encounter (DRAFT), Names of Officers Involved (DRAFT), Race of Officers Involved (DRAFT), Known Past Shootings of Officer(s) (DRAFT), Call for Service? (DRAFT), Zip, City_y, State_y, Latitude, Longitude]
Index: []

[0 rows x 40 columns]

In [201]:
result['index'] = range(1, len(result) + 1)

In [202]:
result = result.set_index('index')

In [203]:
result.head()

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Initial Reported Reason for Encounter (DRAFT),Names of Officers Involved (DRAFT),Race of Officers Involved (DRAFT),Known Past Shootings of Officer(s) (DRAFT),Call for Service? (DRAFT),Zip,City_y,State_y,Latitude,Longitude
index,,,,,,,,,,,,,,,,,,,,,
1,Kalon Horton,29,Male,Black,NaN,2021-05-09,NaN,Lancaster,TX,0,...,gunshots,NaN,NaN,NaN,Yes,NaN,NaN,NaN,32.5922,-96.7737
2,Jeffrey Mark Murray,62,Male,Unknown Race,NaN,2021-05-09,NaN,Greenville,SC,0,...,murder,NaN,NaN,NaN,Yes,NaN,NaN,NaN,34.8353,-82.3647
3,Everton Brown,56,Male,Unknown Race,NaN,2021-05-08,NaN,Baltimore,MD,0,...,murder,NaN,NaN,NaN,Yes,NaN,NaN,NaN,39.3051,-76.6144
4,Felix Jerry Marquez,34,Male,Hispanic,NaN,2021-05-08,NaN,Riverside,CA,0,...,person with a gun,NaN,NaN,NaN,No,NaN,NaN,NaN,33.9381,-117.3948
5,Daniel Hobbs,34,Male,Unknown Race,NaN,2021-05-08,Northwest 33rd Street and Portland,Oklahoma City,OK,0,...,violation of protective order,Daniel Lopez,NaN,NaN,Yes,NaN,NaN,NaN,35.4676,-97.5136

In [204]:
result = result.rename(columns={"victim_name": "victim"})

In [206]:
result.shape

(9136, 40)

In [216]:
vc = result['victim'].value_counts()
print (vc[vc > 1].index[0])

Name withheld by police

In [176]:
result.to_csv('data/victims_geo.csv',index=False)