In [24]:
import pandas as pd

In [25]:
cities = pd.read_csv('data/uscities.csv')  
mpv_db_pk = pd.read_csv('data/mpv_db_pk.csv')

In [26]:
droplist = ['city_ascii','county_fips','county_name','population','density','source','military','incorporated','timezone',
           'ranking','zips','id']
cities.drop(droplist,axis=1,inplace=True)

In [27]:
zips = pd.read_csv('data/us-zip-code-latitude-and-longitude.csv',sep=";")

In [28]:
zips['Zip'] = zips['Zip'].fillna(0).astype(int)

In [29]:
droplist = ['Timezone','Daylight savings time flag','geopoint']
zips.drop(droplist,axis=1,inplace=True)

In [30]:
mpv_db_pk['Zipcode'] = mpv_db_pk['Zipcode'].fillna(0).astype(int)

In [31]:
test1 = mpv_db_pk.merge(zips,how="left", left_on=['Zipcode'], right_on=['Zip'])

In [33]:
test1.head()

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Initial Reported Reason for Encounter (DRAFT),Names of Officers Involved (DRAFT),Race of Officers Involved (DRAFT),Known Past Shootings of Officer(s) (DRAFT),Call for Service? (DRAFT),Zip,City_y,State_y,Latitude,Longitude
0,Kalon Horton,29,Male,Black,NaN,2021-05-09,NaN,Lancaster,TX,0,...,gunshots,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown Race,NaN,2021-05-09,90 S. Main St.,Leicester,MA,1524,...,deliberate car crash,NaN,NaN,NaN,Yes,1524.0,Leicester,MA,42.238942,-71.91908
2,Jeffrey Mark Murray,62,Male,Unknown Race,NaN,2021-05-09,NaN,Greenville,SC,0,...,murder,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
3,Everton Brown,56,Male,Unknown Race,NaN,2021-05-08,NaN,Baltimore,MD,0,...,murder,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
4,Felix Jerry Marquez,34,Male,Hispanic,NaN,2021-05-08,NaN,Riverside,CA,0,...,person with a gun,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN

In [64]:
test_latlong = test1.dropna(subset=['Latitude'])

In [65]:
test_latlong.head()

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Initial Reported Reason for Encounter (DRAFT),Names of Officers Involved (DRAFT),Race of Officers Involved (DRAFT),Known Past Shootings of Officer(s) (DRAFT),Call for Service? (DRAFT),Zip,City_y,State_y,Latitude,Longitude
1,Name withheld by police,NaN,Male,Unknown Race,NaN,2021-05-09,90 S. Main St.,Leicester,MA,1524,...,deliberate car crash,NaN,NaN,NaN,Yes,1524.0,Leicester,MA,42.238942,-71.91908
7,Robbie Leigh Hodge,52,Male,Unknown Race,NaN,2021-05-07,1200 Rocky Branch Rd.,Rutledge,TN,37861,...,gunshots,NaN,NaN,NaN,Yes,37861.0,Rutledge,TN,36.243526,-83.51516
8,Mark Aitulagi Lavea,47,Male,White,https://fatalencounters.org/wp-content/uploads...,2021-05-06,500 Lewis Avenue,San Andreas,CA,95249,...,hostage situation,NaN,NaN,NaN,Yes,95249.0,San Andreas,CA,38.192823,-120.64285
9,William Holt,49,Male,White,NaN,2021-05-05,2775 Fremont St.,Las Vegas,NV,89104,...,gunshots,Erik Lindberg,NaN,NaN,Yes,89104.0,Las Vegas,NV,36.151108,-115.10857
10,Ashton Pinke,27,Male,Black,NaN,2021-05-04,5800 Northwest Drive,Mesquite,TX,75150,...,domestic disturbance,NaN,NaN,NaN,Yes,75150.0,Mesquite,TX,32.818392,-96.63355

In [36]:
test2 = test1[test1['Latitude'].isna()]

In [40]:
test2.head()

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Initial Reported Reason for Encounter (DRAFT),Names of Officers Involved (DRAFT),Race of Officers Involved (DRAFT),Known Past Shootings of Officer(s) (DRAFT),Call for Service? (DRAFT),Zip,City_y,State_y,Latitude,Longitude
0,Kalon Horton,29,Male,Black,NaN,2021-05-09,NaN,Lancaster,TX,0,...,gunshots,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
2,Jeffrey Mark Murray,62,Male,Unknown Race,NaN,2021-05-09,NaN,Greenville,SC,0,...,murder,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
3,Everton Brown,56,Male,Unknown Race,NaN,2021-05-08,NaN,Baltimore,MD,0,...,murder,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
4,Felix Jerry Marquez,34,Male,Hispanic,NaN,2021-05-08,NaN,Riverside,CA,0,...,person with a gun,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN
5,Daniel Hobbs,34,Male,Unknown Race,NaN,2021-05-08,Northwest 33rd Street and Portland,Oklahoma City,OK,0,...,violation of protective order,Daniel Lopez,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN

In [41]:
test_merge = test2.merge(cities,how="left", left_on=['City_x','State_x'], right_on=['city','state_id'])

In [54]:
test_merge.shape

(135, 45)

In [50]:
test_merge[test_merge['lat'].isna()]

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Zip,City_y,State_y,Latitude,Longitude,city,state_id,state_name,lat,lng
6,Latoya Denis James,37,Female,Unknown Race,NaN,2021-05-04,NaN,Camden County,GA,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Gary Brown,43,Male,White,NaN,2021-03-12,NaN,Harrison Township,OH,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Fred Bowman Trundle,54,Male,Unknown Race,NaN,2021-02-28,Alabama Highway,NaN,GA,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Ethan Freeman,37,Male,Unknown Race,NaN,2020-10-19,66 Four Wheel Drive,Thornton,NH,3285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Jericho Wynos,Unknown,Male,Native American,NaN,2020-10-14,NaN,Cookson,OK,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Jon Jay Lewis,Unknown,Male,White,NaN,2018-05-25,NaN,NaN,ID,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Jake Childers,36,Male,White,NaN,2016-12-27,NaN,NaN,TX,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,William Ray Score Jr.,47,Male,White,http://ak-cache.legacy.net/legacy/images/cobra...,2016-11-11,NaN,NaN,CO,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,Marty Maiden II,20,Male,Black,http://d1t3gia0in9tdj.cloudfront.net/photo/tri...,2013-11-20,7500 South Woodbury Grove Dr,Tuscon,AZ,85757,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Shawn Evans,56,Male,White,NaN,2013-09-08,4501 Torley St,Pittsburg,PA,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Julie Serna Gonzales,42,Female,Hispanic,http://extras.mnginteractive.com/live/media/si...,2013-04-19,59 Alderwood Drive,Stafford,VA,22556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_merge = test.merge(test1,how="inner", left_on=['City','State'], right_on=['City_x','State_x'])

In [56]:
test_merge.head(2)

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Zip,City_y,State_y,Latitude,Longitude,city,state_id,state_name,lat,lng
0,Kalon Horton,29,Male,Black,NaN,2021-05-09,NaN,Lancaster,TX,0,...,NaN,NaN,NaN,NaN,NaN,Lancaster,TX,Texas,32.5922,-96.7737
1,Jeffrey Mark Murray,62,Male,Unknown Race,NaN,2021-05-09,NaN,Greenville,SC,0,...,NaN,NaN,NaN,NaN,NaN,Greenville,SC,South Carolina,34.8353,-82.3647

In [58]:
test_merge = test_merge.drop(columns=['Latitude', 'Longitude','city','state_id','state_name'])

In [59]:
test_merge = test_merge.rename(columns={"lat": "Latitude", "lng": "Longitude"})

In [60]:
test_merge.head(2)

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Known Past Shootings of Officer(s) (DRAFT),Call for Service? (DRAFT),Zip,City_y,State_y,city,state_id,state_name,Latitude,Longitude
0,Kalon Horton,29,Male,Black,NaN,2021-05-09,NaN,Lancaster,TX,0,...,NaN,Yes,NaN,NaN,NaN,Lancaster,TX,Texas,32.5922,-96.7737
1,Jeffrey Mark Murray,62,Male,Unknown Race,NaN,2021-05-09,NaN,Greenville,SC,0,...,NaN,Yes,NaN,NaN,NaN,Greenville,SC,South Carolina,34.8353,-82.3647

In [61]:
test_merge.columns

Index(['victim_name', 'victim_age', 'victim_gender', 'victim_race',
       'URL of image of victim', 'Date of Incident (month/day/year)',
       'Street Address of Incident', 'City_x', 'State_x', 'Zipcode', 'County',
       'Agency responsible for death', 'ORI Agency Identifier (if available)',
       'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Armed/Unarmed Status',
       'Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database)',
       'Alleged Threat Level (Source: WaPo)', 'Fleeing (Source: WaPo)',
       'Body Camera (Source: WaPo)', 'WaPo ID (If included in WaPo database)',
       'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'MPV ID', 'Fatal Encounters ID', 'Encounter Type (DRAFT)',
       'Initial Reported Reason for Encounter (DRAFT)',
       'Names of Officers Involved (DRAFT)',
       'Race of Officers Involved (DRAFT)',
       'Known Past Shootings of Officer(s) (DRAFT)',
       'Call for Service? (DRAFT)', 'Zip', 'City_y', 'State_y', 'city',
       'state_id', 'state_name', 'Latitude', 'Longitude'],
      dtype='object')

In [62]:
test1.columns

Index(['victim_name', 'victim_age', 'victim_gender', 'victim_race',
       'URL of image of victim', 'Date of Incident (month/day/year)',
       'Street Address of Incident', 'City_x', 'State_x', 'Zipcode', 'County',
       'Agency responsible for death', 'ORI Agency Identifier (if available)',
       'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Armed/Unarmed Status',
       'Alleged Weapon (Source: WaPo and Review of Cases Not Included in WaPo Database)',
       'Alleged Threat Level (Source: WaPo)', 'Fleeing (Source: WaPo)',
       'Body Camera (Source: WaPo)', 'WaPo ID (If included in WaPo database)',
       'Off-Duty Killing?',
       'Geography (via Trulia methodology based on zipcode population density: http://jedkolko.com/wp-content/uploads/2015/05/full-ZCTA-urban-suburban-rural-classification.xlsx )',
       'MPV ID', 'Fatal Encounters ID', 'Encounter Type (DRAFT)',
       'Initial Reported Reason for Encounter (DRAFT)',
       'Names of Officers Involved (DRAFT)',
       'Race of Officers Involved (DRAFT)',
       'Known Past Shootings of Officer(s) (DRAFT)',
       'Call for Service? (DRAFT)', 'Zip', 'City_y', 'State_y', 'Latitude',
       'Longitude'],
      dtype='object')

In [ ]:
test1 = test_merge.drop(columns=['Latitude', 'Longitude','city','state_id','state_name'])

In [57]:
test1.head(2)

,victim_name,victim_age,victim_gender,victim_race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City_x,State_x,Zipcode,...,Initial Reported Reason for Encounter (DRAFT),Names of Officers Involved (DRAFT),Race of Officers Involved (DRAFT),Known Past Shootings of Officer(s) (DRAFT),Call for Service? (DRAFT),Zip,City_y,State_y,Latitude,Longitude
0,Kalon Horton,29,Male,Black,NaN,2021-05-09,NaN,Lancaster,TX,0,...,gunshots,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,NaN,Male,Unknown Race,NaN,2021-05-09,90 S. Main St.,Leicester,MA,1524,...,deliberate car crash,NaN,NaN,NaN,Yes,1524.0,Leicester,MA,42.238942,-71.91908